<% content_for :title, 'Edit | ' %>

<section>
  <% content_for :section do %>

      <div class="container">
        <h1>Editing Pic</h1>

        <%= render 'form' %>

        <%= link_to 'Show', @pic %> |
        <%= link_to 'Back', pics_path %>
      </div>
  <% end %>
</section>