<% content_for :title, 'New | ' %>

<section>
  <% content_for :section do %>

      <div class="container"><h1>New Pic</h1>

        <%= render 'form' %>

        <%= link_to 'Back', pics_path %>
      </div>
  <% end %>
</section>