<% content_for :title, 'About | ' %>

<section>
  <% content_for :section do %>
    <div class="jumbotron">
    	<div class="container">
    		<p>This app helps you to save the images only and make them private until you share them with others. Its free of cost. Unlimited storage.
            This app is made by <a href="http://sulman.me/" target="_blank">Mirza Sulman Baig</a></p>
    	</div>
    </div>
  <% end %>
</section>

<script>
    <% content_for :scripts do %>
    <% end %>
</script>