<% content_for :title, 'Home | ' %>

<section>
  <% content_for :section do %>
    <div class="jumbotron">
    	<div class="container">
    		<h1><i class="fa fa-camera"></i> FotoLib</h1>
    		<p>Private photo saving, managing and sharing app.</p>
    		<p>
                <%= link_to '<i class="fa fa-sign-in"></i> Log In'.html_safe, new_user_session_path, class:'btn btn-primary btn-lg' %>
                <%= link_to '<i class="fa fa-sign-in"></i> Sign Up'.html_safe, new_user_registration_path, class:'btn btn-default btn-lg' %>
    		</p>
    	</div>
    </div>
  <% end %>
</section>

<script>
    <% content_for :scripts do %>
    <% end %>
</script>