// Place all the styles related to the pics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.crop {
    width: 300px;
    height: 200px;
}

.crop img {
    width: 100%;
    height: auto;
}

.facebook {
    color: #3C599B;
}

.twitter {
    color: #2AB3E7;
}